package {{ router_group.binding_package }}

import (
	shared "{{ router_group.shared_imports | safe }}"
	sharedprovider "{{ writer.shared_provider_imports | safe }}"
	wailstransport "{{ writer.runtime_imports | safe }}"
)

type ServiceOption = sharedprovider.RuntimeOption
type ErrorMapperFunc = sharedprovider.ErrorMapperFunc

func WithErrorMapper(mapper ErrorMapperFunc) ServiceOption {
	return sharedprovider.WithErrorMapper(mapper)
}

func NewService(dispatcher wailstransport.EventDispatcher, options ...ServiceOption) *{{ router_group.service_name }} {
	return newGenerated{{ router_group.service_name }}(shared.NewRouter(), dispatcher, options...)
}
