/venv
/.venv
/demo
/build
/dist
/__pycache__
/.pytest_cache
/.ruff_cache
/.coverage
/.DS_Store
/.vscode
/src/api_blueprint.egg-info
*.egg-info/
__pycache__/
*.pyc
.DS_Store
.vscode/
.pytest_cache/
.ruff_cache/
/debug.py
