{% autoescape false %}package {{ writer.package }}.models

import kotlinx.serialization.SerialName
import kotlinx.serialization.Serializable
{% for proto in protos %}
{%- if proto.kind == 'data' %}
{{ '\n' if not loop.first }}@Serializable
public data class {{ proto.name }}(
{%- for field in proto.fields %}
{%- if field.serial_name != field.name %}
    @SerialName("{{ field.serial_name }}")
{%- endif %}
    public val {{ field.name }}: {{ field.type.text }}{% if field.optional %} = null{% endif %}{% if not loop.last %},{% endif %}
{%- endfor %}
)
{%- elif proto.kind == 'wrapper' %}
{{ '\n' if not loop.first }}@Serializable
public data class {{ proto.name }}<T>(
{%- for field in proto.fields %}
{%- if field.serial_name != field.name %}
    @SerialName("{{ field.serial_name }}")
{%- endif %}
    public val {{ field.name }}: {{ field.type.text }}{% if field.optional %} = null{% endif %}{% if not loop.last %},{% endif %}
{%- endfor %}
)
{%- elif proto.kind == 'alias' %}
{{ '\n' if not loop.first }}public typealias {{ proto.name }} = {{ proto.alias_type.text if proto.alias_type else 'kotlinx.serialization.json.JsonElement' }}
{%- elif proto.kind == 'enum' %}
{{ '\n' if not loop.first }}@Serializable
public enum class {{ proto.name }} {
{%- for key, value in proto.enum_members %}
    @SerialName("{{ value }}")
    {{ key }}{% if not loop.last %},{% endif %}
{%- endfor %}
}
{%- endif %}
{%- endfor %}
{% endautoescape %}
