package {{ router_group.package }}

import (
	"fmt"
	{% if router_group.uses_connection_runtime %}providers "{{ bp.writer.provider_imports | safe }}"
	{% endif %}
)

type Router struct{
	_GenRouter
}

func NewRouter() *Router {
	return &Router{}
}

{% for impl in router_group.implements() %}
func (impl *Router) {{ impl.signature | safe }} {
	{{ impl.default_body | safe }}
}
{% endfor %}
