package {{ router_group.package }}

import (
	"fmt"
)

type Router struct{
	_GenRouter
}

func NewRouter() *Router {
	return &Router{}
}

{% for impl in router_group.implements() %}
func (impl *Router) {{ impl.func }}(
	ctx *{{ impl.ctx_type }}, req *{{ impl.req_type }},
) (rsp *{{ impl.rsp_type }}, err error) {
	return nil, fmt.Errorf("not implemented")
}
{% endfor %}