{% autoescape false %}package {{ bp.root_package }}.routes.{{ group.package_suffix }};

{% if group.runtime_types_ref == "ApiTypes" %}
import {{ bp.root_package }}.runtime.ApiTypes;
{% endif %}
import {{ bp.root_package }}.runtime.ApiServerChannel;
import {{ bp.root_package }}.runtime.ApiServerStream;
import {{ bp.root_package }}.runtime.binary.ApiBinaryBody;

public interface {{ group.generated_service_class }} {
{% for route in group.routes %}
    {{ writer.response_type(route, group) }} {{ route.method_name }}(
{%- for type_name, name in writer.route_params(route, group) %}
        {{ type_name }} {{ name }}{% if not loop.last %},{% endif %}
{%- endfor %}
    ) throws Exception;
{% endfor %}
}
{% endautoescape %}
