{% autoescape false %}package {{ bp.root_package }}.routes.{{ group.package_suffix }};

{% if group.runtime_types_ref == "GenApiTypes" %}
import {{ bp.root_package }}.runtime.GenApiTypes;
{% endif %}
import {{ bp.root_package }}.runtime.GenApiRawResponse;
import {{ bp.root_package }}.runtime.GenApiServerChannel;
import {{ bp.root_package }}.runtime.GenApiServerStream;
import {{ bp.root_package }}.runtime.GenApiStreamResponse;
import {{ bp.root_package }}.runtime.binary.GenApiBinaryBody;

public interface {{ group.generated_service_class }} {
{% for route in group.routes %}
    {{ writer.response_type(route, group) }} {{ route.method_name }}(
{%- for type_name, name in writer.route_params(route, group) %}
        {{ type_name }} {{ name }}{% if not loop.last %},{% endif %}
{%- endfor %}
    ) throws Exception;
{% endfor %}
}
{% endautoescape %}
