package {{ router_group.package }}

{% set user_implements = router_group.user_implements() | list %}
{% if user_implements %}
import (
	"fmt"
)
{% endif %}

type Router struct{
	_GenRouter
}

func NewRouter() *Router {
	return &Router{}
}

{% for impl in user_implements %}
func (impl *Router) {{ impl.signature | safe }} {
	{{ impl.default_body | safe }}
}
{% endfor %}
