import Foundation

public struct APIRequestOptions {
    public var headers: [String: String]
    public var timeout: TimeInterval?

    public init(headers: [String: String] = [:], timeout: TimeInterval? = nil) {
        self.headers = headers
        self.timeout = timeout
    }
}

public struct APIRequest<Response> {
    public var routeID: String
    public var method: String
    public var path: String
    public var query: [URLQueryItem]
    public var options: APIRequestOptions
    public var json: Any?
    public var form: [String: String?]?
    public var multipart: [String: Any?]?
    public var binary: Data?
    public var binaryContentType: String?
    public var responseMediaType: String
    public var responseKind: String
    public var responseEnvelope: APIResponseEnvelope
    public var decode: (Any?) throws -> Response

    public init(
        routeID: String,
        method: String,
        path: String,
        query: [URLQueryItem] = [],
        options: APIRequestOptions = APIRequestOptions(),
        json: Any? = nil,
        form: [String: String?]? = nil,
        multipart: [String: Any?]? = nil,
        binary: Data? = nil,
        binaryContentType: String? = nil,
        responseMediaType: String = "application/json",
        responseKind: String = "json",
        responseEnvelope: APIResponseEnvelope = APIResponseEnvelope(),
        decode: @escaping (Any?) throws -> Response
    ) {
        self.routeID = routeID
        self.method = method
        self.path = path
        self.query = query
        self.options = options
        self.json = json
        self.form = form
        self.multipart = multipart
        self.binary = binary
        self.binaryContentType = binaryContentType
        self.responseMediaType = responseMediaType
        self.responseKind = responseKind
        self.responseEnvelope = responseEnvelope
        self.decode = decode
    }
}

public protocol APITransport {
    func request<Response>(_ request: APIRequest<Response>) async throws -> Response
    func openStream<Recv, Close>(_ options: APIStreamConnectOptions<Recv, Close>) -> APIStreamBridge<Recv, Close>
    func openChannel<Recv, Send, Close>(_ options: APIChannelConnectOptions<Recv, Send, Close>) -> APIChannelBridge<Recv, Send, Close>
}

public struct APISocketCloseInfo: Codable, Sendable {
    public var code: Int?
    public var reason: String?

    public init(code: Int? = nil, reason: String? = nil) {
        self.code = code
        self.reason = reason
    }
}

public struct APIStreamConnectOptions<Recv, Close> {
    public var routeID: String
    public var connectionKind: String
    public var path: String
    public var query: [URLQueryItem]
    public var open: Any?
    public var headers: [String: String]
    public var decodeMessage: (Any?) throws -> Recv
    public var decodeClose: (Any?) throws -> Close

    public init(
        routeID: String,
        connectionKind: String,
        path: String,
        query: [URLQueryItem] = [],
        open: Any? = nil,
        headers: [String: String] = [:],
        decodeMessage: @escaping (Any?) throws -> Recv,
        decodeClose: @escaping (Any?) throws -> Close
    ) {
        self.routeID = routeID
        self.connectionKind = connectionKind
        self.path = path
        self.query = query
        self.open = open
        self.headers = headers
        self.decodeMessage = decodeMessage
        self.decodeClose = decodeClose
    }
}

public struct APIChannelConnectOptions<Recv, Send, Close> {
    public var routeID: String
    public var connectionKind: String
    public var path: String
    public var query: [URLQueryItem]
    public var open: Any?
    public var headers: [String: String]
    public var protocols: [String]
    public var delivery: String
    public var decodeMessage: (Any?) throws -> Recv
    public var encodeMessage: (Send) throws -> Any?
    public var decodeClose: (Any?) throws -> Close

    public init(
        routeID: String,
        connectionKind: String,
        path: String,
        query: [URLQueryItem] = [],
        open: Any? = nil,
        headers: [String: String] = [:],
        protocols: [String] = [],
        delivery: String = "ordered",
        decodeMessage: @escaping (Any?) throws -> Recv,
        encodeMessage: @escaping (Send) throws -> Any?,
        decodeClose: @escaping (Any?) throws -> Close
    ) {
        self.routeID = routeID
        self.connectionKind = connectionKind
        self.path = path
        self.query = query
        self.open = open
        self.headers = headers
        self.protocols = protocols
        self.delivery = delivery
        self.decodeMessage = decodeMessage
        self.encodeMessage = encodeMessage
        self.decodeClose = decodeClose
    }
}

public struct APIStreamBridge<Recv, Close> {
    public let routeID: String
    public let messages: AsyncThrowingStream<Recv, Error>
    public let closes: AsyncStream<Close>
    private let closeHandler: (Int?, String?) async -> Void

    public init(
        routeID: String,
        messages: AsyncThrowingStream<Recv, Error>,
        closes: AsyncStream<Close>,
        close: @escaping (Int?, String?) async -> Void
    ) {
        self.routeID = routeID
        self.messages = messages
        self.closes = closes
        self.closeHandler = close
    }

    public func close(code: Int? = nil, reason: String? = nil) async {
        await closeHandler(code, reason)
    }
}

public struct APIChannelBridge<Recv, Send, Close> {
    public let routeID: String
    public let messages: AsyncThrowingStream<Recv, Error>
    public let closes: AsyncStream<Close>
    private let sendHandler: (Send) async throws -> Void
    private let closeHandler: (Int?, String?) async -> Void

    public init(
        routeID: String,
        messages: AsyncThrowingStream<Recv, Error>,
        closes: AsyncStream<Close>,
        send: @escaping (Send) async throws -> Void,
        close: @escaping (Int?, String?) async -> Void
    ) {
        self.routeID = routeID
        self.messages = messages
        self.closes = closes
        self.sendHandler = send
        self.closeHandler = close
    }

    public func send(_ message: Send) async throws {
        try await sendHandler(message)
    }

    public func close(code: Int? = nil, reason: String? = nil) async {
        await closeHandler(code, reason)
    }
}

public struct APIFilePart: Codable, Sendable {
    public var filename: String
    public var contentType: String
    public var data: Data

    public init(filename: String = "", contentType: String = "application/octet-stream", data: Data) {
        self.filename = filename
        self.contentType = contentType
        self.data = data
    }
}

public struct APIRawResponse: Sendable {
    public var body: Data
    public var headers: [String: String]
    public var statusCode: Int
    public var contentType: String
    public var contentDisposition: String
    public var filename: String?

    public init(
        body: Data,
        headers: [String: String] = [:],
        statusCode: Int = 200,
        contentType: String = "application/octet-stream",
        contentDisposition: String = "",
        filename: String? = nil
    ) {
        self.body = body
        self.headers = headers
        self.statusCode = statusCode
        self.contentType = contentType
        self.contentDisposition = contentDisposition
        self.filename = filename
    }
}

public struct APIStreamResponse {
    public var body: AsyncThrowingStream<Data, Error>
    public var headers: [String: String]
    public var statusCode: Int
    public var contentType: String
    public var contentDisposition: String
    public var filename: String?

    public init(
        body: AsyncThrowingStream<Data, Error>,
        headers: [String: String] = [:],
        statusCode: Int = 200,
        contentType: String = "application/octet-stream",
        contentDisposition: String = "",
        filename: String? = nil
    ) {
        self.body = body
        self.headers = headers
        self.statusCode = statusCode
        self.contentType = contentType
        self.contentDisposition = contentDisposition
        self.filename = filename
    }
}

public struct APIBinaryPayload: Sendable {
    public var data: Data
    public var headers: [String: String]
    public var statusCode: Int
    public var contentType: String

    public init(
        data: Data,
        headers: [String: String] = [:],
        statusCode: Int = 200,
        contentType: String = "application/octet-stream"
    ) {
        self.data = data
        self.headers = headers
        self.statusCode = statusCode
        self.contentType = contentType
    }
}

public struct APIResponseEnvelope: Sendable {
    public var name: String
    public var kind: String
    public var errorIdentity: String
    public var successCode: Int
    public var successMessage: String
    public var fields: APIResponseEnvelopeFields

    public init(
        name: String = "NoEnvelope",
        kind: String = "none",
        errorIdentity: String = "none",
        successCode: Int = 0,
        successMessage: String = "ok",
        fields: APIResponseEnvelopeFields = APIResponseEnvelopeFields()
    ) {
        self.name = name
        self.kind = kind
        self.errorIdentity = errorIdentity
        self.successCode = successCode
        self.successMessage = successMessage
        self.fields = fields
    }
}

public struct APIResponseEnvelopeFields: Sendable {
    public var code: String
    public var message: String
    public var data: String
    public var error: String
    public var ok: String

    public init(code: String = "code", message: String = "message", data: String = "data", error: String = "error", ok: String = "ok") {
        self.code = code
        self.message = message
        self.data = data
        self.error = error
        self.ok = ok
    }
}

public protocol APIWireValue {
    var apiWireString: String { get }
}

public enum APIJSONValue: Codable, Sendable, Equatable {
    case null
    case bool(Bool)
    case number(Double)
    case string(String)
    case array([APIJSONValue])
    case object([String: APIJSONValue])

    public init(from decoder: Decoder) throws {
        let container = try decoder.singleValueContainer()
        if container.decodeNil() {
            self = .null
        } else if let value = try? container.decode(Bool.self) {
            self = .bool(value)
        } else if let value = try? container.decode(Double.self) {
            self = .number(value)
        } else if let value = try? container.decode(String.self) {
            self = .string(value)
        } else if let value = try? container.decode([APIJSONValue].self) {
            self = .array(value)
        } else {
            self = .object(try container.decode([String: APIJSONValue].self))
        }
    }

    public func encode(to encoder: Encoder) throws {
        var container = encoder.singleValueContainer()
        switch self {
        case .null:
            try container.encodeNil()
        case .bool(let value):
            try container.encode(value)
        case .number(let value):
            try container.encode(value)
        case .string(let value):
            try container.encode(value)
        case .array(let value):
            try container.encode(value)
        case .object(let value):
            try container.encode(value)
        }
    }
}

public enum APIDecodeError: Error, CustomStringConvertible {
    case expectedValue(String)
    case invalidJSON
    case invalidResponse(String)

    public var description: String {
        switch self {
        case .expectedValue(let type):
            return "expected API value \(type)"
        case .invalidJSON:
            return "invalid API JSON"
        case .invalidResponse(let message):
            return message
        }
    }
}

public func apiEncodeJSONObject<T: Encodable>(_ value: T) throws -> Any? {
    let data = try APICoding.jsonEncoder.encode(value)
    return try JSONSerialization.jsonObject(with: data, options: [])
}

public func apiDecodeValue<T: Decodable>(_ type: T.Type, from value: Any?) throws -> T {
    if let typed = value as? T {
        return typed
    }
    guard let value else {
        throw APIDecodeError.expectedValue(String(describing: type))
    }
    let data = try JSONSerialization.data(withJSONObject: value, options: [])
    return try APICoding.jsonDecoder.decode(T.self, from: data)
}

public func apiDecodeString(_ value: Any?) throws -> String {
    if let value = value as? String {
        return value
    }
    if let data = value as? Data {
        return String(data: data, encoding: .utf8) ?? ""
    }
    guard let value else {
        return ""
    }
    return String(describing: value)
}

public func apiDecodeData(_ value: Any?) throws -> Data {
    if let value = value as? Data {
        return value
    }
    if let raw = value as? APIRawResponse {
        return raw.body
    }
    throw APIDecodeError.expectedValue("Data")
}

public func apiDecodeRawResponse(_ value: Any?) throws -> APIRawResponse {
    if let value = value as? APIRawResponse {
        return value
    }
    throw APIDecodeError.expectedValue("APIRawResponse")
}

public func apiDecodeStreamResponse(_ value: Any?) throws -> APIStreamResponse {
    if let value = value as? APIStreamResponse {
        return value
    }
    throw APIDecodeError.expectedValue("APIStreamResponse")
}

public func apiBlueprintQueryValue(_ value: Any?) -> String? {
    guard let value else {
        return nil
    }
    if let wireValue = value as? APIWireValue {
        return wireValue.apiWireString
    }
    if let boolValue = value as? Bool {
        return boolValue ? "true" : "false"
    }
    if let value = value as? CustomStringConvertible {
        return value.description
    }
    if JSONSerialization.isValidJSONObject(value),
       let data = try? JSONSerialization.data(withJSONObject: value, options: []),
       let rendered = String(data: data, encoding: .utf8) {
        return rendered
    }
    return String(describing: value)
}

public func apiBlueprintFormFields<T: Encodable>(_ value: T) throws -> [String: String?] {
    let object = try apiEncodeJSONObject(value)
    guard let dictionary = object as? [String: Any?] else {
        return [:]
    }
    return dictionary.mapValues { apiBlueprintQueryValue($0) }
}

public func apiBlueprintMultipartFields<T: Encodable>(_ value: T) throws -> [String: Any?] {
    let object = try apiEncodeJSONObject(value)
    return object as? [String: Any?] ?? [:]
}
