package {{ writer.provider_package }}

import (
	"fmt"
	"net/http"
)

type HandleContext[Q, B, P any] struct {
	Response *P
	Error    error
}

func (prov *HandleProvider[Q, B, P]) Handle(anyCtx ContextInterface) {
	ctx := AdaptContext[Q, B, P](anyCtx)
	var err error
	httpCtx, httpErr := ctx.RequireHTTP()

	if ctx.Req == nil {
		err = fmt.Errorf("[HandleProvider] fail to get req err[%v]", err)
		if httpCtx != nil {
			_ = httpCtx.AbortWithError(http.StatusBadRequest, err)
		}
		return
	}

	req, err := ctx.Req.Request, ctx.Req.Error
	if err != nil {
		fmt.Println(err)
		if httpCtx != nil {
			_ = httpCtx.AbortWithError(http.StatusBadRequest, err)
		}
		return
	}
	if httpErr != nil {
		err = fmt.Errorf("[HandleProvider] transport err[%v]", httpErr)
		return
	}

	var rsp *P
	rsp, err = prov.Handler(ctx, req)
	ctx.Handle = &HandleContext[Q, B, P]{
		Response: rsp,
		Error:    err,
	}

	httpCtx.Next()
}
