package {{ writer.provider_package }}

type AuthContext[Q, B, P any] struct{}

func (prov *AuthProvider[Q, B, P]) Handle(anyCtx ContextInterface) {
	ctx := AdaptContext[Q, B, P](anyCtx)

	// TODO
	ctx.Auth = &AuthContext[Q, B, P]{}

	ctx.Gin.Next()
}
