package {{ writer.provider_package }}

type ReqContext[Q, B, P any] struct {
	Request *REQ[Q, B]
	Error   error
}

func (prov *ReqProvider[Q, B, P]) Handle(anyCtx ContextInterface) {
	ctx := AdaptContext[Q, B, P](anyCtx)
	req, err := prov.makeReq(ctx)
	ctx.Req = &ReqContext[Q, B, P]{
		Request: req,
		Error:   err,
	}

	ctx.Gin.Next()
}
