{% autoescape false %}package {{ writer.package }}.endpoints

import {{ writer.package }}.internal.HttpExecutor
import {{ writer.package }}.models.*
import kotlinx.serialization.builtins.serializer

public class {{ group.class_name }} internal constructor(
    private val executor: HttpExecutor,
) {
{%- for route in group.routes %}

    public suspend fun {{ route.method_name }}(
{%- if route.query_type %}
        query: {{ route.query_type }},
{%- endif %}
{%- if route.json_type %}
        body: {{ route.json_type }},
{%- endif %}
        headers: Map<String, String> = emptyMap(),
    ): {{ route.response_type.text }} {
        return executor.request(
            method = "{{ route.http_method }}",
            path = "{{ route.url }}",
{%- if route.query_type %}
            query = query.toQueryMap(),
{%- endif %}
            headers = headers,
{%- if route.json_type %}
            body = body,
            bodySerializer = {{ route.json_type }}.serializer(),
{%- endif %}
            responseSerializer = {{ route.response_serializer_expr }},
        )
    }
{%- endfor %}
{%- for route in group.routes if route.query_type %}

    private fun {{ route.query_type }}.toQueryMap(): Map<String, String?> = mapOf(
{%- for field in route.query_proto.fields %}
        "{{ field.serial_name }}" to {% if field.optional %}{{ field.name }}?.toString(){% else %}{{ field.name }}.toString(){% endif %}{% if not loop.last %},{% endif %}
{%- endfor %}
    )
{%- endfor %}
}
{% endautoescape %}
