import Foundation
import {{ package_plan.runtime.module_name }}

public typealias APITransport = {{ package_plan.runtime.module_name }}.APITransport
public typealias APIRequestOptions = {{ package_plan.runtime.module_name }}.APIRequestOptions

open class {{ bp.gen_root_client }} {
    public let transport: APITransport

    public init(transport: APITransport) {
        self.transport = transport
    }
{% for group in bp.groups.values() %}
    public lazy var {{ group.property_name }} = {{ group.class_name }}(transport: transport)
{% endfor %}
}
