{% autoescape false %}package {{ bp.root_package }}.transports.http

public data class HttpApiConfig(
    public val baseUrl: String = {{ writer.rendered_base_url }},
    public val defaultHeaders: suspend () -> Map<String, String> = { emptyMap() },
)
{% endautoescape %}
