package {{ bp.root_package }}.runtime;

public record ApiServerResponse<T>(
    boolean ok,
    T data,
    ApiErrorPayload error
) {
    public static <T> ApiServerResponse<T> ok(T data) {
        return new ApiServerResponse<>(true, data, null);
    }

    public static <T> ApiServerResponse<T> error(ApiErrorPayload error) {
        return new ApiServerResponse<>(false, null, error);
    }
}
