package {{ bp.root_package }}.runtime;

import java.util.HashMap;
import java.util.Map;

public final class ApiServerContext {
    private final Map<String, Object> state = new HashMap<>();

    public Map<String, Object> state() {
        return state;
    }
}
